.container {
    display: inline-grid;
    grid-template-columns: 1fr 100fr;
    grid-template-rows: 1fr 7fr;
}
h1 {
    font-family: 'carlito';
    font-size: 20pt;
}
.sidebar {
    grid-row: 1 / -1;
}

.navbar {
    grid-column: 2;
    grid-row: 1 / -1;
}
.main {
    display: inline-flex;
    gap: 50px;
    grid-column: 2;
    grid-row: 2 / -1;
    height: 450px;
    margin-top: 50px;
    margin-left: 150px;
}
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
}
input {
    border: 1px solid #BEBEBE;
    border-radius: 6px;
    font-size: 9pt;
    font-family: 'roboto';
    height: 35px;
    width: 300px;
    padding: 10px;
}
input::placeholder{
    color: #BEBEBE;
}
.button {
    display: flex;
    grid-row: 6;
    grid-column: 2;
    gap: 10px;
    margin-top: auto;
}
p {
    font-family: 'roboto';
}
.background {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 250px;
    border: 1px solid #BEBEBE;
    background-color: #F9F9F9;
    border-radius: 10px;
    align-items: center;
}

h6 {
    font-family: 'roboto';
    font-weight: 500;
    padding: 10px;
    margin: 0;
}

.image-upload {
    width: 210px;
    height: 210px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.image-upload input {
    display: none;
}

.upload-icon {
    width: 100px;
    height: 100px;
    border: none;
}

.preview {
    height: 100%;
    object-fit: contain;
    border: none;
}
.description {
    background-color: white;
    width: 210px;
    height: 150px;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    padding: 10px;
    font-size: 8pt;
    font-family: 'roboto';
    box-sizing: border-box;
    resize: none;
}